<!--suppress ALL -->
<div class="container">
  <h2 class="mt-4 mb-5"><i class="fas fa-user-plus"></i> Add Customer</h2>

  <form [formGroup]="addCustomerForm" validate>
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="firstname">First name</label>
          <input
            type="text"
            id="firstname"
            placeholder="Firstname"
            formControlName="firstname"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.firstname.invalid && (FORM.firstname.dirty || FORM.firstname.touched)">
            <li *ngIf="addCustomerForm.controls['firstname'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['firstname'].hasError('minlength')">Minimum length - 3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input
            type="text"
            id="lastname"
            placeholder="Lastname"
            formControlName="lastname"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.lastname.invalid && (FORM.lastname.dirty || FORM.lastname.touched)">
            <li *ngIf="addCustomerForm.controls['lastname'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['lastname'].hasError('minlength')">Minimum length - 3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label>Gender</label>

          <div class="d-flex align-items-center mx-n3">
            <!-- MALE -->
            <div class="px-3 d-flex align-items-center">
              <label>
                <input type="radio" value="true" formControlName="gender">
                <span class="ml-2 font-weight-normal">Male</span>
              </label>
            </div>
            <!-- FEMALE -->
            <div class="px-3 d-flex align-items-center">
              <label>
                <input type="radio" value="false" formControlName="gender">
                <span class="ml-2 font-weight-normal">Female</span>
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Email"
            formControlName="email"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.email.invalid && (FORM.email.dirty || FORM.email.touched)">
            <li *ngIf="addCustomerForm.controls['email'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['email'].hasError('minlength')">Minimum length - 10</li>
            <li *ngIf="addCustomerForm.controls['email'].hasError('email')">Not email</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            id="address"
            placeholder="Address"
            formControlName="address"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.address.invalid && (FORM.address.dirty || FORM.address.touched)">
            <li *ngIf="addCustomerForm.controls['address'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['address'].hasError('minlength')">Minimum length - 10</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text"
            id="city"
            placeholder="City"
            formControlName="city"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.city.invalid && (FORM.city.dirty || FORM.city.touched)">
            <li *ngIf="addCustomerForm.controls['city'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['city'].hasError('minlength')">Minimum length - 3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="country">Country</label>
          <input
            type="text"
            id="country"
            placeholder="Country"
            formControlName="country"
            autocomplete="off"
          >

          <ul class="errorList" *ngIf="FORM.country.invalid && (FORM.country.dirty || FORM.country.touched)">
            <li *ngIf="addCustomerForm.controls['country'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['country'].hasError('minlength')">Minimum length - 3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="form-group">
          <label for="googlemaplocation">Google Map Location</label>
          <input
            type="text"
            id="googlemaplocation"
            placeholder="Google Map Location"
            formControlName="googlemaplocation"
            autocomplete="off"
          >
          <small class="text-muted d-block text-right">Not required</small>

          <ul class="errorList" *ngIf="FORM.googlemaplocation.invalid && (FORM.googlemaplocation.dirty || FORM.googlemaplocation.touched)">
            <li *ngIf="addCustomerForm.controls['googlemaplocation'].hasError('required')">Required input</li>
            <li *ngIf="addCustomerForm.controls['googlemaplocation'].hasError('minlength')">Minimum length - 3</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-5 d-flex justify-content-between">
        <a routerLink="/index" class="btn btn-light">Cancel</a>
        <button (click)="CustomerFormSubmit()" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>
