<div class="container">
  <h2 class="mt-4 mb-5"><i class="fas fa-user"></i> Customer Information</h2>

  <nav class="customerNav d-flex flex-column flex-md-row mx-n3 mb-5">
    <div class="radioBox px-3">
      <input checked type="radio" name="customertab" id="customerdetails" (change)="ChangeCustomerDetailTab('about')">
      <label for="customerdetails">About Customer</label>
    </div>

    <div class="radioBox px-3">
      <input type="radio" name="customertab" id="customerorders" (change)="ChangeCustomerDetailTab('orders')">
      <label for="customerorders">Orders</label>
    </div>
  </nav>

  <app-customer-about [activeCustomer]="activeCustomer" *ngIf="customerTab.toLowerCase() === 'about'"></app-customer-about>
  <app-customer-orders [activeCustomer]="activeCustomer" *ngIf="customerTab.toLowerCase() === 'orders'"></app-customer-orders>
</div>
